.chat_button {
    z-index: 1;
    position: absolute;
    margin-top: 200px;
    height: 40px;
    width: 30px;
    background-color: #25D366 !important;
    border: none !important;
}

.chat_offcanva {
    width: 25% !important;
}